*{
    font-family: Arial, serif;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #fffde1;
}
.container{
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
}
.whiteSpace{
    height: 30px;
}
.bodyStuff{
    margin: 20px;
}
#info{
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
#head{
    background: deepskyblue;
    overflow: hidden;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
}
.cloud{
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 0 10px black, inset -10px -10px 30px gray;
    position: relative;
    z-index: 1;
}
#cloud1{
    top: 50%;
    left: 50%;
    transform: translate(-280%, -180%);
}
#cloud2{
    top: 50%;
    left: 50%;
    transform: translate(-20%, -260%);
}
#cloud3{
    top: 50%;
    left: 50%;
    transform: translate(-160%, -250%);
}
#cloud4{
    top: 50%;
    left: 50%;
    transform: translate(100%, -350%);
}
#cloud5{
    top: 50%;
    left: 50%;
    transform: translate(230%, -570%);
}
#websiteTitle{
    position: relative;
    color: white;
    font-size: 80px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    z-index: 2;
    padding-left: 3%;
}
#news{
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
}
.topNav{
    background: #3C3C3C;
    overflow: hidden;
    height: 47px;
}
.topNav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topNav a:hover {
    background-color: dimgray;
    color: black;
}
.topNav a.active {
    background-color: #4e9d25;
    color: white;
}
#foot1{
    background: dimgray;
    height: 47px;
    width: 100%;
}
#foot2{
    background: black;
    padding: 80px;
    box-shadow: 0 100vh 0 100vh black;
    overflow: auto;
}
#articles{
    border: solid black 2px;
}
.def{
    text-align: center;
    border: solid black 2px;
    margin: 50px 170px;
    padding: 0;
}
#title{
    background-color: #3C3C3C;
    margin: 0;
    color: white;
}
.aircraftTitle{
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    border: solid 3px black;
}
.aircraftTitle h2{
    margin: 10px;
}
.aircraftPicture{
    width: fit-content;
    margin: auto;
}
.aircraftPicture img{
    border: solid 3px black;
    margin: 10px;
}
.aircraftInfo{
    width: fit-content;
    margin: auto;

}
.contentGrid{
    display: grid;
    grid-template-columns: auto auto;
}
form{
    margin-left: 30px;
}
form label, form input{
    margin: 5px 5px;
}