*{
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
    overflow: auto;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
}
.grid2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
}
.whiteSpace{
    height: 30px;
}
.bodyStuff{
    margin: 20px;
}
#info{
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
#head{
    background: deepskyblue;
    overflow: hidden;
    margin-bottom: 0px;
    height: 100px;
}
#news{
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
}
.topNav{
    background: #3C3C3C;
    overflow: hidden;
    height: 47px;
}
.topNav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topNav a:hover {
    background-color: dimgray;
    color: black;
}
.topNav a.active {
    background-color: darkgreen;
    color: white;
}
#foot1{
    background: dimgray;
    height: 47px;
    width: 100%;
}
#foot2{
    background: black;
    padding: 80px;
    box-shadow: 0 100vh 0 100vh black;
    overflow: auto;
}
#articles{
    border: solid black 2px;
}
.def{
    text-align: center;
    border: solid black 2px;
    margin: 10px;
    padding: 0;
}
#title{
    background-color: grey;
    margin: 0px;
    color: white;
}
